/* استایل‌های عمومی */
body {
    font-family: tahoma, sans-serif;
    margin: 20px;
    direction: rtl; /* تنظیم جهت متن به راست به چپ برای زبان فارسی */
    background-color: #f3f3f3; /* رنگ پس‌زمینه */
}

h1, h2 {
    text-align: center;
    color: #333;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 15px;
}

/* استایل جدول */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #e0e0e0;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* استایل بخش امتیازات */
.score-section {
    margin-bottom: 30px; /* فاصله پایین بین بخش امتیازات و فرم */
}

/* در موبایل، فاصله را افزایش می‌دهیم */
@media (max-width: 600px) {
    .score-section {
        margin-bottom: 20px; /* افزایش فاصله در موبایل */
    }
}

/* استایل فرم */
.form-section {
    max-width: 500px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
	font-size: large;
}

input[type="number"],
input[type="text"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
	font-family: tahoma;
	font-size: x-large;
	border: 1px;
	border-radius: 8px;
	background-color: white;
	
}

button {
    padding: 20px 20px;
    font-size: 20px;
    cursor: pointer;
	font-family: tahoma;
	background-color: dodgerblue;
	border-radius: 8px;
	color: white;
    border: 0;
}

button:hover {
    background-color: #ddd;
}

.end-game-button {
    margin-top: 10px;
    background-color: #ff4d4d;
    color: #fff;
    border: none;
}

.end-game-button:hover {
    background-color: #e60000;
}


/* استایل برای دکمه در حالت غیرفعال */
#startButton:disabled {
    background-color: gray;
    cursor: not-allowed;
    color: #fff;
}

/* استایل برای دکمه‌های "صحیح"، "غلط" و "خطا" */
.action-button {
    margin: 5px;
    padding: 15px 25px;
    font-size: 18px;
}

/* استایل برای دکمه‌های "صحیح"، "غلط" و "خطا" در حالت غیرفعال */
.action-button:disabled {
    background-color: gray;
    cursor: not-allowed;
    color: #fff;
}

/* استایل دکمه‌های "صحیح"، "غلط" و "خطا" */
#correctButton {
    background-color: #4CAF50;
    color: white;
    border: none;
}

#correctButton:hover {
    background-color: #45a049;
}

#incorrectButton {
    background-color: #f44336;
    color: white;
    border: none;
}

#incorrectButton:hover {
    background-color: #da190b;
}

#penaltyButton {
    background-color: #ff9800;
    color: white;
    border: none;
}

#penaltyButton:hover {
    background-color: #e68a00;
}

/* استایل دکمه "شروع" */
#startButton {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 18px;
    margin-bottom: 20px;
}

#startButton:hover {
    background-color: #007bb5;
}
/* استایل دکمه "نمایش کلمه" */
.show-word-button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px; /* تنظیم فاصله بالایی */
    cursor: pointer;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
}

.show-word-button:hover {
    background-color: #007bb5;
}

#timer{
	font-size: 40px;
}

/* واکنش‌گرایی برای موبایل */
@media (max-width: 600px) {
    body {
        margin: 40px 20px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 30px;
    }

    button {
        width: 100%;
        margin-bottom: 10px;
		margin-top: 20px;
		
    }

    .action-button {
        width: 100%;
        padding: 12px 20px;
        font-size: 20px;
    }

    #startButton {
        width: 100%;
        padding: 12px 20px;
        font-size: 20px;
    }

    .end-game-button {
        width: 100%;
        padding: 12px 20px;
        font-size: 16px;
    }
}
